@font-face {
  font-family: ligaMenlo;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/LigaMenlo-Regular.ttf');
}

@font-face {
  font-family: MenloPatchHint;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/Menlo-Patch-Hint.ttf');
}
