@font-face {
  font-family: mesloHint;
  font-style: normal;
  font-weight: normal;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/MesloLGS-Regular.ttf');
}

@font-face {
  font-family: mesloHint;
  font-style: italic;
  font-weight: normal;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/MesloLGS-Italic.ttf');
}

@font-face {
  font-family: mesloHint;
  font-style: normal;
  font-weight: bold;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/MesloLGS-Bold.ttf');
}

@font-face {
  font-family: mesloHint;
  font-style: italic;
  font-weight: bold;
  src: url('https://raw.githubusercontent.com/longluuly/menlo-meslo-patch-hint/master/hinted/MesloLGS-BoldItalic.ttf');
}
